@model AntiPsychRRMVC2.Models.Drug

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Drug</h4>
    <hr />
    <dl class="row">
        <!--Name-->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrugName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrugName)
        </dd>
        <!--Route-->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrugRoute.RouteName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrugRoute.RouteName)
        </dd>
        <!--Frequency-->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrugFrequency.FrequencyDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrugFrequency.FrequencyDetails)
        </dd>
        <!--Max Dose-->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrugMaxDose.MaximumDoseLimit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrugMaxDose.MaximumDoseLimit)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" readonly asp-for="DrugId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
          <a asp-action="Index" class="btn btn-outline-secondary mt-1">Back to List</a>

    </form>
</div>
