@model IEnumerable<AntiPsychRRMVC2.Models.Drug>

@{
    ViewData["Title"] = "AntiPsych Ready Reckoner";
}

<h1>Drug List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrugName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrugRoute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrugFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrugMaxDose)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DrugName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrugRoute.RouteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrugFrequency.FrequencyDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrugMaxDose.MaximumDoseLimit)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DrugId" class="btn btn-outline-secondary">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.DrugId" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Create" class="btn btn-success">Create New Drug</a>
</div>