@model IEnumerable<AntiPsychRRMVC2.Models.Drug>

@{
    ViewData["Title"] = "AntiPsych Ready Reckoner";
}

<h1 id="drugTop">Drug List</h1>
    <div class="mb-3 pt-1">
        <a asp-action="Create" class="btn btn-success">Create New Drug</a>
    </div>
<div class="container" style="overflow:auto;">
    <table class="table table-responsive table-striped table-bordered table-hover">
        <thead>
            <tr style="text-align:center;">
                <th>
                    <span style="font-weight:bold;font-size:x-large;"> @Html.DisplayNameFor(model => model.DrugName) </span>
                </th>
                <th>
                    <span style="font-weight:bold;font-size:x-large;"> @Html.DisplayNameFor(model => model.DrugRoute)</span>
                </th>
                <th>
                    <span style="font-weight:bold;font-size:x-large;"> @Html.DisplayNameFor(model => model.DrugFrequency)</span>
                </th>
                <th>
                    <span style="font-weight:bold;font-size:x-large;">  @Html.DisplayNameFor(model => model.DrugMaxDose)</span>
                </th>
                <th>
                    <p style="font-weight:bold;font-size:x-large;">Options</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr style="text-align:center;">
                        <td>
                            <span style="font-size:medium;" class="mx-auto"> @Html.DisplayFor(modelItem => item.DrugName)</span>
                        </td>
                        <td>
                            <span style="font-size:medium;" class="mx-auto"> @Html.DisplayFor(modelItem => item.DrugRoute.RouteName)</span>
                        </td>
                        <td>
                            <span style="font-size:medium;" class="mx-auto">   @Html.DisplayFor(modelItem => item.DrugFrequency.FrequencyDetails)</span>
                        </td>
                        <td>
                            <span style="font-size:medium;" class="mx-auto">  @Html.DisplayFor(modelItem => item.DrugMaxDose.MaximumDoseLimit)</span>
                        </td>
                        <td style="display:grid;" class="mx-auto">
                            <a asp-action="Edit" asp-route-id="@item.DrugId" class="btn btn-outline-secondary p-3">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.DrugId" class="btn btn-outline-danger p-3 mt-3">Delete</a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
    <div class="mb-3 pt-1">
        <a asp-action="Create" class="btn btn-success">Create New Drug</a>
        <button id="scroll" class="btn btn-outline-secondary">Scroll to top</button>
    </div>
</div>